html, body {
    font-size: 12px;
    font-family: Arial;
}

.center {
    height: 10em;
    position: relative;
}

.center p {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
